rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth != null;
    }

    function isAdmin() {
      return isAuthenticated() && 
        (request.auth.token.email == "aravind17g08@gmail.com" && request.auth.token.email_verified == true);
    }

    match /portfolio/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
